.flex {display: flex;}
.flex .c1 {flex: 1;}
.flex .c2 {flex: 2;}
.flex .c3 {flex: 3;}
.flex .c4 {flex: 4;}
.flex .c5 {flex: 5;}
.flex .c6 {flex: 6;}
.flex .c7 {flex: 7;}
.flex .c8 {flex: 8;}
.flex .c9 {flex: 9;}
.flex .c10 {flex: 10;}
body { display: flex; justify-content: center; 
  background-color: #fff;}
#container {background-color: #000;}
#gameCanvas { border: 1px solid black; }
#settings {
  padding: 10px;
}
